h1, p, body{
    margin: 0px;
  }
  
  p{
    font-size: 30px;
    margin: 10px 20px;
  }
  
  .home{
    margin-left: 40px;
    height: 45px;
  }
  
  header, footer{
    display: grid;
    grid-template-columns: 1fr 16fr 1fr;
    border: 1px solid black;
    background-color: lightblue;
    padding: 20px 50px 20px 20px;
  }
  
  footer{
    grid-template-columns: 19fr 1fr;
    padding-right: 20px;
  }
  
  .headline{
    height: 38px;
    border: 1px solid black;
  }
  
  .main{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 3fr 1fr;
  }
  
  .first_section{
    padding-top: 17vh;
    padding-bottom: 20vh;
    border: 1px solid black;
    background-color: lightyellow;
  }
  
  .second_section{
    border: 1px solid black;
    background-color: white;
  }
  
  .third_section{
    border: 1px solid black;
    background-color: lightyellow;
    grid-row: span 2;
  }
  
  .fours_section{
    border: 1px solid black;
    background-color: lightyellow;
    grid-column: span 2;
  }
  
.page_img{
    max-width: 190px;
}
  
  